[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "~=2.0"
fastapi = "~=0.110"
uvicorn = "~=0.29"
psycopg2-binary = "~=2.9"
pydantic = {extras = ["email"], version = "~=2.1"}
python-dotenv = "*"
alembic = "*"
pydantic-settings = "*"
redis = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
libgravatar = "*"
fastapi-mail = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
